<ion-view title="Backup" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="backup-form8" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="backup-toggle2" name="enable_backup" class=" ">Enable Backup</ion-toggle>
            <ion-radio id="backup-radio1" name="backup_service" class=" ">Select Backup Service</ion-radio>
            <ion-checkbox name="google_drive">Google Drive</ion-checkbox>
            <ion-checkbox name="dropbox">Dropbox</ion-checkbox>
            <ion-checkbox name="local_device">Local Device</ion-checkbox>
            <label class="item item-input " id="backup-input7">
                <span class="input-label">Username</span>
                <input type="email" placeholder="email/username">
            </label>
            <label class="item item-input " id="backup-input8">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a href="mailto:" id="backup-button10" class=" button button-calm  button-block ">Save Changes</a>
    </ion-content>
</ion-view>