<ion-view title="Financial Status" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="financialStatus-card21">
            <ion-item class="item-avatar  " id="financialStatus-list-item4">
                <img src="img/8uJEzlOTZCIXhFd7XZ52_financial_health_meter.jpg">
                <h2>v0.0.11 </h2>

                <button class="button button-primary button-block" ng-if="!FinancialStatusCtrl.properties.updatesAvailable" ng-click="FinancialStatusCtrl.actions.checkForUpdates()">
                  Check for Updates 
                </button>
                <span class="" style="font-weight:bold; color:blue;" ng-bind="FinancialStatusCtrl.properties.updatesField"></span>
                <button class="button button-stable button-block button-pulse" ng-if="FinancialStatusCtrl.properties.updatesAvailable" ng-click="FinancialStatusCtrl.actions.doUpdate()">
                  Download Update
                </button>
            </ion-item>
            <div class=" item item-image">
                <img src="img/KR5cIfH7RF66isCBRbhH_financial_health_meter.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="financialStatus-list-item-container1"></div>
        </div>
    </ion-content>
</ion-view>