<ion-view title="Record Details" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="recordDetails-form9" class="list ">
            <label class="item item-input" name="search_records">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Enter search">
            </label>
            <label class="item item-select " id="recordDetails-select1" name="filter_by">
                <span class="input-label">Filter by</span>
                <select>
                    <option>Date</option>
                    <option>Business</option>
                    <option>Amount</option>
                    <option>Category</option>
                </select>
            </label>
        </form>
        <div class="item item-body " id="recordDetails-list-item-container9">
            <p id="recordDetails-markdown8" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Groceries</strong>
            </p>
            <ion-list id="recordDetails-list10" class=" ">
                <ion-item class="item-divider " id="recordDetails-list-item-divider1">Rami Levi</ion-item>
                <ion-item id="recordDetails-list-item35" class="  ">01/05/2016</ion-item>
                <ion-item id="recordDetails-list-item36" class="  ">234.90 NIS</ion-item>
                <ion-item class="item-divider " id="recordDetails-list-item-divider2">Shufersal</ion-item>
                <ion-list id="recordDetails-list11" class=" ">
                    <ion-item id="recordDetails-list-item37" class="  ">05/05/2016</ion-item>
                    <ion-item id="recordDetails-list-item38" class="  ">75.50</ion-item>
                </ion-list>
            </ion-list>
        </div>
    </ion-content>
</ion-view>