<ion-view title="Settings" id="page11" class=" ">
<ion-content padding="true" class="has-header">

<div class="list card">
	<a ui-sref="account" class="item item-icon-right">
		Account
		<i class="icon ion-chevron-right"></i>
	</a>
	<a href="#" class="item item-icon-left">
		<i class="icon ion-ios-telephone"></i>
		Enter phone number
	</a>
	<a href="#" class="item item-icon-left">
		<i class="icon ion-wifi"></i>
		Enter wireless password
	</a>
	<a href="#" class="item item-icon-left">
		<i class="icon ion-card"></i>
		Enter card information
	</a>
</div>
</ion-view>